*{
    padding:0;
    margin:0;
    outline:0;
}

.clear{clear: both;}

body .standard_button{
    width: 120px;
    border: 1px solid #181540;
    background-color: #181540;
    color: #ebebeb;
    cursor: pointer;
    padding: 5px;
}

body .standard_s_label{
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
    margin-top: 5px;
    color: #ebebeb;
}

body .no-b-radius{border-radius: 0px;}

body .standard_txtarea{
    border-radius: 0px;
    resize: none;
}

body .standard_select{border-radius: 0px;}

/***
colors:
Main background: #181540
Second background: #1C1A4C
Text: #ebebeb
Hover text:#fff
***/

/***Menu***/
.menu,.right-menu{
    width: 350px;
    position: fixed;
    height: 100%;
    top:0;
    z-index: 2;
}

.right-menu{right:0;}


.create-new-element-menu,.element-list,.banner-edit-element{
    width: 350px;
    position: fixed;
    height: 100%;
    -webkit-box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.75);
    transition: all 0.5s;
    background-color: #181540;
}

.create-new-element-menu.active,.element-list.active{
    left:0px;
}
.create-new-element-menu.inactive,.element-list.inactive{
    left:-350px;
}

.menu .columnHeader, .right-menu .columnHeader{
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 20px;
    color: #fff;
    height: auto;
}

.menu #accordion,.right-menu #accordionEdit{
    padding-right: 20px;
    padding-left: 20px;
}

.menu .card,.right-menu .card, .exportBox {
    border-radius: 0px;
    margin-bottom: 0px;
    background-color: #1C1A4C;
    color: #fff;
    cursor:pointer;
    margin-bottom: 0px;
}

.create-new-element-menu::-webkit-scrollbar{display: none;}

.banner-element-holder .list-group li{
    border-radius: 0px;
    margin-bottom: 0px;
    background-color: #1C1A4C;
    color: #fff;
    margin-bottom: 0px;
}

.create-new-element-menu{overflow-y: auto;}

.menu .btn-link,.right-menu .btn-link{
    color:#ebebeb;
}

.menu .btn-link:hover,.right-menu .btn-link:hover{
    color:#fff;
}

.menu .back{
    background-image: url(../assets/icons/back.svg);
    width: 40px;
    height: 30px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    top: 0;
    right: 9px;
}
.menu-toolbar .close{background-image: url(../assets/icons/close.svg);}
.menu-toolbar .show{background-image: url(../assets/icons/show.svg);}
.menu-toolbar .close,.menu-toolbar .show{
    width: 20px;
    height: 20px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    top: 0;
}

.menu-header{
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.menu-toolbar{
    height: 20px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 10px;
    position: relative;
}

.hide_when_menu_hidden{
    opacity: 1;
    transition: all 0.5s;
}

.shrink_when_menu_hidden{
    transition: all 0.5s;
}

/****Controls****/
textarea, input, select, button{display: block; margin-bottom:5px;}
.controls{flex:1;}

.banner-edit-element{position:fixed; right:0;}
.columnHeader{
    flex-grow: 1;
    height:80px;
    margin-top: 20px;
    font-size: 20px;
}

.exports{
    padding-right: 20px;
    padding-left: 20px;
}


.banner-element-holder{
    height: auto;
    width: 100%;
    overflow-y: auto;
    padding-right: 20px;
    padding-left: 20px;
}

.banner-element-holder .list-group{
    margin-top: 0px;
}

.banner-element-holder p{cursor: pointer; text-decoration: underline;}

.active-banner-element{text-decoration: underline; color:#00FF00;}

label.section-header{font-size:20px;}

.controls label{display: block; margin-bottom:5px;}

.dragger{width: fit-content; cursor: pointer;}

.list-group{margin-top:97px;}

.list-group-item{cursor: pointer;}

.dz-default{
    height: 100px;
    border: 1px solid #0056b3;
    border-radius: 2px;
    padding: 10px;
}
.dz-preview{width:50%; float:left;}
.dz-preview:last-child:after{clear:both;}
.dz-progress,.dz-filename,.dz-error-message,.dz-error-mark,.dz-success-mark{display: none;}

.banner-elements .active-in-element-list{border: 1px solid #0056b3;}

.allAnimationSettings{padding: 1.25rem;}

.animationBox:hover,.activeAnimation{
    background-color: #fff;
    color:#007bff;
    border:1px solid #007bff;
}
.current_animation_settings .animation_setting{
    display: none;
    flex-direction: column;
}


/******Banner*****/

.grid{
    background-image: repeating-linear-gradient(0deg,transparent,transparent 70px,#CCC 70px,#CCC 71px),repeating-linear-gradient(-90deg,transparent,transparent 70px,#CCC 70px,#CCC 71px);
    background-size: 71px 71px;
    width:inherit;
    height:inherit;
    position: absolute;
}

.banner{
    width:200px;
    height:200px;
    background-color:#181540;
    box-sizing: border-box;
    display: flex;
    margin: 0 auto;
    margin-top:50px;
    margin-bottom: 20px;
    position: relative;
    z-index: -1;
}

.banner-image-element{max-width:200px;}
.dragger{position: absolute !important; z-index: 10;}

.banner-text-element{text-decoration: inherit;}
