*{
    padding:0;
    margin:0;
    outline:0;
}

.clear{clear: both;}

/****Controls****/
textarea, input, select, button{display: block; margin-bottom:5px;}

.controller{width:1200px;margin:0 auto; display: flex;}

.controls{flex:1;}

.banner-edit-element{flex:1;}
.columnHeader{
    flex-grow: 1;
    height:80px;
    margin-top: 20px;
    font-size: 20px;
}

.banner-elements{flex:1; padding-left: 30px;}

.banner-element-holder{height:200px; width:100%; overflow-y: scroll;}

.banner-element-holder p{cursor: pointer; text-decoration: underline;}

.active-banner-element{text-decoration: underline; color:#00FF00;}

label.section-header{font-size:20px;}

.controls label{display: block; margin-bottom:5px;}

.controls .control{margin-bottom:20px;}

.dragger{width: fit-content; cursor: pointer;}

.list-group{margin-top:97px;}

.list-group-item{cursor: pointer;}

.dz-default{
    height: 100px;
    border: 1px solid #0056b3;
    border-radius: 2px;
    padding: 10px;
}
.dz-preview{width:50%; float:left;}
.dz-preview:last-child:after{clear:both;}
.dz-progress,.dz-filename,.dz-error-message,.dz-error-mark,.dz-success-mark{display: none;}

.banner-elements .active-in-element-list{border: 1px solid #0056b3;}

.animationBox{
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px;
    transition: all 0.5s;
    border:1px solid #007bff;
    cursor:pointer;
}

.animationBox:hover{
    background-color: #fff;
    color:#007bff;
    border:1px solid #007bff;
}

.animationsHolder{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/******Banner*****/

.grid{
    background-image: repeating-linear-gradient(0deg,transparent,transparent 70px,#CCC 70px,#CCC 71px),repeating-linear-gradient(-90deg,transparent,transparent 70px,#CCC 70px,#CCC 71px);
    background-size: 71px 71px;
    width:inherit;
    height:inherit;
    position: absolute;
}

.banner{
    width:200px;
    height:200px;
    background-color:red;
    box-sizing: border-box;
    display: flex;
    margin: 0 auto;
    margin-top:50px;
    margin-bottom: 20px;
    position: relative;
}

.banner-image-element{max-width:100px;}
.dragger{position: absolute !important; z-index: 10;}

.banner-text-element{text-decoration: inherit;}
