*{
    padding:0;
    margin:0;
    outline:0;
}

/****Controls****/
textarea, input, select, button{display: block; margin-bottom:5px;}
.controller{width:1024px;margin:0 auto; display: flex;}
.controls{width:400px;}
.banner-elements{width:400px;}
label.section-header{font-size:20px;}
.controls label{display: block; margin-bottom:5px;}

.controls .control{margin-bottom:20px;}

.dragger{width: fit-content; cursor: pointer;}

#banner{width:200px; height:200px; background-color:red;}
/******Banner*****/
.grid{
    background-image: repeating-linear-gradient(0deg,transparent,transparent 70px,#CCC 70px,#CCC 71px),repeating-linear-gradient(-90deg,transparent,transparent 70px,#CCC 70px,#CCC 71px);
    background-size: 71px 71px;
    width:inherit;
    height:inherit;
    position: absolute;
}
.dragger{position: absolute !important; z-index: 10;}
